.App {
  display: grid;
  grid-template-columns: 3fr 4fr;
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--dark);
  overflow: hidden;
  position: relative;
}

/* ===================== MEDIA QUERIES (MEDIUM SERVICE)================== */
@media screen and (max-width: 1024px) {
  /* .App {
    display: block;
  } */
}

/* ===================== MEDIA QUERIES (SMALL SERVICE) =================== */
@media screen and (max-width: 768px) {
  .App {
    display: block;
  }
}
